body, html {
    margin: 0;
    min-height: 100vh;
    /* min-width: 800px; */
    /* min-width: 700px; */
}

.header {
    height: 65px;
    background: rgb(1, 14, 22);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px;
    flex-shrink: 0;
}

.logo, .header-links {
    display: flex;
    align-items: center;
}

#logo-image {
    display: flex;
    height: 55px;
    margin: 0;
    filter: hue-rotate(180deg);
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, #Learnmore:hover {
    color: #c7882a;
}

li {
 display: flex;
 margin: 10px;
 font-size: 18px;
 /* font-family: "Courier New", monospace; */
}

.left-side-row1 p, #logo-text:hover{
    text-shadow: 0 0 2px #0a3d4e, 0 0 4px #0a3d4e, 0 0 8px #0a3d4e, 0 0 12px #0a3d4e;
    color: white; 
    /* Glow effect */
}

#logo-text {
    font-size: 20px;
}

.container-row1 {
    background-image: url('./images/neom-yx7TJle8LhM-unsplash.jpg');
    background-size: cover; /* Adjust the background size as desired */
    background-position: center; /* Adjust the background position as desired */
    background-attachment: fixed;
    height: 110vh;
    color: white;
    display: flex;
    min-height: 600px;
    padding: 60px;
}

.left-side-row1 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:50%;
    text-align: center;
    height: max-content;
    margin: 20vh auto;
    max-width: 75vh;
    text-justify: center;
    font-size: 20px;
}

.left-side-row1 h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 25vh;
    margin-top: 0;
    animation: fadeIn 5s forwards;
    /* text-shadow: 0 0 0.5px #00000052, 0 0 1px #00000052, 0 0 2px #00000052, 0 0 4px #00000052; */

}

#description {
    /* visibility: hidden; */
    opacity: 0;
    color: rgb(255, 255, 255);
    animation: fadeIn 5s forwards;
    animation-delay: 0.6s;
}

#Signup-button {
    opacity: 0;
    animation: fadeIn 5s forwards;
    animation-delay: 1s;
    font-size: 18px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* button */

  #Signup-button, #row4-button, #row4-button2 {
    display: block;
    width: 125px;
    height: 40px;
    line-height: 40px;
    /* font-family: sans-serif; */
    text-decoration: none;
    color: #ffffff;
    /* border: 2px solid #3573ad; */
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 10px;
    background-color: #864713f3;
    /* box-shadow: 0 0 2px 2px #ddd8d8 */
    /* animation */
  }

  #Signup-button span {
    position: relative;
    z-index: 2;
  }
  
  /* #3573ad */
  #Signup-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #3573ad;
    transition: all .35s;
    border-radius: 12px;
  }
  
  #Signup-button:hover {
    border-radius: 10px;
  }
  
  #Signup-button:hover:after {
    width: 100%;
    border-radius: 10px;
  }
  /* button */

  .container-row2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex: 1;
    padding: 200px 5vh 250px 5vh;
    background: linear-gradient(to bottom, rgb(9, 43, 65), rgb(0, 0, 0));
  }

  .arrow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .information-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    color: white;
    max-width: 1576px;
  }

  #arrow-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  
  #next, #previous {
    filter: invert(100%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 40px;
    }

    #next:hover, #previous:hover {
        transform: scale(1.1);
    }

  #info-img {
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 10px;
    margin: 30px;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 0.2px 1px #864713f3;
  }

  #info-img:hover, #Learnmore:hover  {
    transform: scale(1.1);
  }

  #info-text {
    font-size: 18px;
    width: 200px;
    margin: 0 30px 20px 30px;
  }

  #Info-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  #info-text, h2, #Info-title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  /* .Route {
    display: flex;
    justify-self: flex-end;
    font-size: 18px;
    color: white;
    text-decoration: underline;
    flex:1;
    margin-right: 25vh;
    margin-top: 50px;
    align-self: flex-end;
    flex-direction: column;
  } */

  h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
  }

  .container-row3 {
    display: flex;
    flex: 1;
    color: white;
    /* background: linear-gradient(to top, rgb(9, 43, 65), rgb(0, 0, 0)); */
    /* padding: 0px 15vh 250px 15vh; */
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('./images/background.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    min-height: 600px;
    padding: 0px 300px;
  }

  .quote {
    display: flex;
    max-width: 1250px;
    text-align: justify;
    text-shadow: 0 0 2px #000000, 0 0 4px #0a3d4e, 0 0 8px #0a3d4e, 0 0 12px #0a3d4e;
  }

  .quote-author {
    margin: 30px;
  }

  .container-row4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: linear-gradient(to top, rgb(9, 43, 65), rgb(0, 0, 0));
    font-size: 18px;
    padding:  8vh 25vh;
  }

  .action-container {
    background-color: #864713f3;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    width: 850px;
    height: 80px;
    align-items: center;
    line-height: 30px;
    margin-top: 15px;
  }

  .action-container button {
    margin: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .footer {
    display: flex;
    justify-content: center;
    background-color: rgb(9, 43, 65);
    color: white;
  }

  #row4-button:hover, #row4-button2:hover {
    background-color: white;
    color: #864713f3;
  }

  #row4-button, #row4-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #row4-button {
    background-color: #9c6b4257;
  }

  #row4-button2 {
    background-color: #9c6b42f3;
  }

/*   
  background-color: white;
  border-radius: 12px;
  padding: 10px; */